# CODEOWNERS
# https://help.github.com/articles/about-codeowners/

# Global
## Chris Schneider(LSE); Josh Miller(SSE); Mark Repka(SSE)
* @cschnei8 @Joshua @mrepka

# Build
## Josh Miller (SSE)
/pipelines/ @Joshua

# SQL
## Mark Repka
*.sql @mrepka

# GitHub Configuration
/.github/ @cschnei8 @Joshua @mrepka